
<div class="checkselect">
	<div class="checkselect-control">
		<select class="form-control" >
			<option style="display:none" >Выбрано: @CheckedCount</option>
			</select>
		<div class="checkselect-over" @onclick="() => expanded = !expanded">
			</div>
			</div>
			<div class="checkselect-popup" style="display: block;">
		@if (expanded)
		{
			CheckedCount = 0;
			@foreach (var item in Items)
			{

				<label>
					<input type="checkbox" value="@item" checked="@(SelectedItems?.Contains(item)?? false)" @onchange="(e) => CheckboxChanged(item)" />
				@item
					@if (SelectedItems?.Contains(item) ?? false) { CheckedCount++; }
				</label>

		}
		}
	
	</div>
</div>

@code {
	int CheckedCount = 0;
	bool expanded = false;

	[Parameter]
	public ICollection<string> CheckedItems { get; set; }
	[Parameter]
	public ICollection<string> Items { get; set; }

	[Parameter]
	public EventCallback<List<string>> SelectedItemsChanged { get; set; }

	private List<string> SelectedItems { get; set; }

	protected override void OnInitialized()
	{
		SelectedItems = new List<string>();
		SelectedItems.AddRange(CheckedItems ?? Enumerable.Empty<string>());
		CheckedCount = CheckedItems?.Intersect(Items ?? Enumerable.Empty<string>()).Count() ?? 0;

	}

	private void CheckboxChanged(string item)
	{
		if (SelectedItems.Contains(item))
		{
			SelectedItems.Remove(item);
			CheckedCount--;
		}
		else
		{
			SelectedItems.Add(item);
			CheckedCount++;
		}
		SelectedItemsChanged.InvokeAsync(SelectedItems.ToList());
	}
	

	
}
