
<div class="checkselect">
	<div class="checkselect-control">
		<select class="form-control" >
			<option style="display:none" >Выбрано: @CheckedCount</option>
			</select>
		<div class="checkselect-over" @onclick="() => expanded = !expanded">
			</div>
			</div>
			<div class="checkselect-popup" style="display: block;">
		@if (expanded)
		{
			CheckedCount = 0;
			@foreach (var item in Items)
			{

				<label><input type="checkbox" value="@item" checked="@(SelectedItems.Contains(item))" @onchange="(e) => CheckboxChanged(item)" />@item @if (SelectedItems.Contains(item)) { CheckedCount++; }</label>

		}
		}
	
	</div>
</div>

@code {
	int CheckedCount = 0;
	bool expanded = false;

	[Parameter]
	public ICollection<string> CheckedItems { get; set; }
	[Parameter]
	public ICollection<string> Items { get; set; }

	[Parameter]
	public EventCallback<ICollection<string>> SelectedItemsChanged { get; set; }

	private List<string> SelectedItems { get; set; }

	protected override void OnInitialized()
	{
		SelectedItems = new List<string>();
		SelectedItems.AddRange(CheckedItems);
		CheckedCount=CheckedItems.Intersect(Items).Count();

	}

	private void CheckboxChanged(string item)
	{
		if (SelectedItems.Contains(item))
		{
			SelectedItems.Remove(item);
			CheckedCount--;
		}
		else
		{
			SelectedItems.Add(item);
			CheckedCount++;
		}
	}
	

	
}
