@using MyModels.Models

@if (status == "update" || status == "set")
{
    <input type="checkbox" id="@PropertyName" name="@PropertyName" @bind="@PropertyValue" >
}
else if (status == "get"  )
{
    if (PropertyValue == true)
    {
        <span>есть</span>
    }
    else
    {
        <span>нет</span>
    }

}
else
{
    <span>name not found</span>
}
<EditButton OnButtonClick="HandleButtonClick"></EditButton>
@code {
    
    [Parameter]
    public Printers Printer { get; set; }


    [Parameter]
    public string PropertyName { get; set; }

    private bool PropertyValue
    {

        get => Convert.ToBoolean(Printer.GetType().GetProperty(PropertyName).GetValue(Printer));
        set => Printer.GetType().GetProperty(PropertyName).SetValue(Printer, Convert.ToBoolean(value));
    }
    
    string status = "";

    [Parameter]
    public string Status
    {
        get
        {
            return status;
        }
        set
        {
            if (value == "get" || value == "set" || value == "update")
            {
                status = value;
            }
            else
            {
                status = "get";
            }
        }
    }
    bool TempValue { get; set; }
    protected override void OnInitialized()
    {
        TempValue = PropertyValue;


    }

    private void HandleButtonClick(string buttonType)
    {

        if (buttonType == "reset")
        {

            PropertyValue = TempValue;
            Status = "get";
        }
        else
        {
            Status = buttonType;
        }


        // StateHasChanged(); // Важно вызвать StateHasChanged() после изменения статуса

    }
}
