@using MyModels.Models

@if (status == "update" || status == "set")
{

    <div>
        <MultiSelect CheckedItems="Printer.DeviceFunctions.Select(function => function.Device_functions.function).ToArray()" Items="Function.Select(function => function.function).ToArray()" SelectedItemsChanged="HandleSelectedItemsChanged"></MultiSelect>
    </div>

}
else if (status == "get")
{
    <div>
        @foreach (var item in Printer.DeviceFunctions)
        {
            <span class="CheckedDeviceFunctions">@item.Device_functions.function</span>
        }
    </div>


}
else
{
    <span>name not found</span>
}
<EditButton OnButtonClick="HandleButtonClick"></EditButton>
@code {
    [Parameter]
    public Printers Printer { get; set; }


    [Parameter]
    public virtual ICollection<Device_functions> Function { get; set; }


    string status = "";

    [Parameter]
    public string Status
    {
        get
        {
            return status;
        }
        set
        {
            if (value == "get" || value == "set" || value == "update")
            {
                status = value;
            }
            else
            {
                status = "get";
            }
        }
    }


    ICollection<Device_functionsPrinters> TempValue { get; set; }


    private void HandleSelectionChange()
    {
        foreach (var item in CheckedDeviceFunctions)
        {
            if (!Printer.DeviceFunctions.Any(df => df.Device_functions.function == item))
            {
                Printer.DeviceFunctions.Add(new Device_functionsPrinters() { Device_functions = Function.FirstOrDefault(p => p.function == item), Printers = this.Printer });
            }
        }
        foreach (var item in Printer.DeviceFunctions)
        {
            if (!CheckedDeviceFunctions.Contains(item.Device_functions.function))
            {
                Printer.DeviceFunctions.Remove(item);
            }
        }

    }
    private void HandleButtonClick(string buttonType)
    {

        if (buttonType == "reset")
        {
            Printer.DeviceFunctions = new List<Device_functionsPrinters>();
            foreach (var item in TempValue)
            {
                Printer.DeviceFunctions.Add(item);
            }
            // Printer.DeviceFunctions = TempValue;
            Status = "get";

        }
        else
        {
            Status = buttonType;

        }


        // StateHasChanged(); // Важно вызвать StateHasChanged() после изменения статуса

    }
    List<string> CheckedDeviceFunctions { get; set; }
    protected override void OnInitialized()
    {

        CheckedDeviceFunctions = Printer.DeviceFunctions.Select(function => function.Device_functions.function).ToList();
        TempValue = new List<Device_functionsPrinters>();
        foreach (var item in Printer.DeviceFunctions)
        {
            TempValue.Add(item);
        }


    }
    private void HandleSelectedItemsChanged(List<string> updatedSelectedItems)
    {
        // Обработайте обновленные SelectedItems, которые пришли из дочернего компонента
        CheckedDeviceFunctions = updatedSelectedItems;
        HandleSelectionChange();
    }
}
