@using MyModels.Models

@if (status == "update" || status == "set")
{
    <input type="text" id="modelName" name="modelName" required style="width:100%" @bind="@Printer.ModelName">
}
else if (status == "get")
{
    <span>@Printer.ModelName</span>
}
else
{
    <span>name not found</span>
}
<EditButton OnButtonClick="HandleButtonClick"></EditButton>
@code {
    [Parameter]
    public Printers Printer { get; set; }




    string status = "";

    [Parameter]
    public string Status
    {
        get
        {
            return status;
        }
        set
        {
            if (value == "get" || value == "set" || value == "update")
            {
                status = value;
            }
            else
            {
                status = "get";
            }
        }
    }

    string TempValue { get; set; }
    protected override void OnInitialized()
    {
        TempValue = Printer.ModelName;


    }

    private void HandleButtonClick(string buttonType)
    {

        if (buttonType == "reset")
        {

            Printer.ModelName = TempValue;
            Status = "get";
        }
        else
        {
            Status = buttonType;
        }


        // StateHasChanged(); // Важно вызвать StateHasChanged() после изменения статуса

    }
}
