@page "/"
@using BlazorApp1.Data
@using MyModels.Models
@inject ApplicationContext DbContextPrinters

<PageTitle>Index</PageTitle>

    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ModelName</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
          
                <tr>
                    <th scope="row">@printer.Id</th>
                    <td>@printer.ModelName</td>
                    <td>@printer.Types.type</td>
                </tr>
            
        </tbody>
    </table>

@code{
    Printers printer;

    protected override void OnInitialized()
    {
         printer = DbContextPrinters.Printers.FirstOrDefault(p => p.Id == 1);
        // printers = DbContextPrinters.Printers.ToList();
    }
}
