@page "/managment"
@using BlazorApp1.Data
@using MyModels.Models
@using BlazorApp1.Components.Layout
@inject ApplicationContext DbContextPrinters
@rendermode InteractiveServer

<h3>Management</h3>
<PrinterDetails Printer="@printer"> </PrinterDetails>
@code {
     Printers printer;
    protected override void OnInitialized()
    {
        printer = DbContextPrinters.Printers.FirstOrDefault(p => p.Id == 1);
       
    }
}
